@import '~node_modules/modern-normalize/modern-normalize.css';
html {
    scroll-behavior: smooth;
  }
  
  body {
    margin-left: auto;
    margin-right: auto;
    font-family: DM Sans, sans-serif;
  }
  
  .is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }