@import '~node_modules/modern-normalize/modern-normalize.css';
@import './components/variables';
/*Скидання дефолтних стилів*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
input {
  margin: 0;
  padding: 0;
}

button, a, input[type="submit"] {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

/*Контейнер*/
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

/* Стиль кнопки (перемикача)*/
.change_theme {
  margin-top: 15px;
  cursor: pointer;

  text-align: center;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 4px 6px 0px rgb(0 0 0 / 16%);
}

.change_theme[data-theme='onLight'] {
  display: none;
}

.change_theme[data-theme='onDark'] {
  display: block;
}

//  Стилі свайпера для світлої теми
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 0;
}
