/* Стиль кнопки (перемикача)*/
.change_theme {
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 4px 6px 0px rgb(255 255 255 / 16%);
  fill: white;
}

button.change_theme[data-theme='onLight'] {
  display: block;
}

button.change_theme[data-theme='onDark'] {
  display: none;
}

h2.swiper-title {
  color: #ffffff;
}

.film-list.js-main-film-list {
  color: #ffffff;
}

section.films-section h2.film-card__title {
  color: #ffffff;
}

footer.footer {
  background-color: #151515;
}
