@import './common';
@import './components/home-header';
@import './components/catalog';
@import './components/home-page';
@import './components/footer';
@import './components/modal-card';
@import './components/footer-students';
@import './components/spiner.scss';
@import './components/movie-card';
@import './components/scroll-top';
@import './components/pagination';
@import './components/auth-main';