@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
/*Скидання дефолтних стилів*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
input {
  margin: 0;
  padding: 0;
}

button, a, input[type=submit] {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

/*Контейнер*/
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
/* Стиль кнопки (перемикача)*/
.change_theme {
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.change_theme[data-theme=onLight] {
  display: none;
}

.change_theme[data-theme=onDark] {
  display: block;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 0;
}

.header {
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.56);
  background-image: url(/src/images/mobile/main-background-mobile.png);
  background-size: cover;
  /* opacity: 0.9; */
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/mobile/main-background-mobile@2x.png);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .header {
    background-image: url(/src/images/mobile/main-background-mobile@3x.png);
  }
}
/*Tablet фон*/
@media screen and (min-width: 768px) {
  .header {
    min-height: 216px;
    background-image: url(/src/images/tablet/main-background-tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/tablet/main-background-tablet@2x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .header {
    background-image: url(/src/images/tablet/main-background-tablet@3x.png);
  }
}
/*Desctop фон*/
@media screen and (min-width: 1280px) {
  .header {
    background-image: url(/src/images/desktop/main-background-desktop.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/desktop/main-background-desktop@2x.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .header {
    background-image: url(/src/images/desktop/main-background-desktop@3x.png);
  }
}
.header__section {
  padding-top: 40px;
  padding-bottom: 44px;
}

.header__logo {
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__icon {
  stroke: #ffffff;
  fill: none;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  font-style: 500;
  font-size: 12px;
  line-height: 1;
}

.header__list {
  color: #ffffff;
}

.header__list-item {
  position: relative;
  margin-right: 40px;
}

.header__list-item:last-child {
  margin-right: 0px;
}

.header__list-link {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__form {
  margin-top: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__form-search {
  position: relative;
  width: 280px;
}

.header__form-input {
  font-size: 14px;
  max-width: 280px;
  width: 100%;
  height: 20px;
  background: none;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  caret-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__form-input {
    max-width: 336px;
  }
  .header__form-search {
    width: 336px;
  }
  .header__form {
    margin-top: 40px;
  }
  .header__error {
    font-size: 14px;
    line-height: 1.14;
    margin-top: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .header__form-input {
    max-width: 394px;
  }
  .header__form-search {
    width: 394px;
  }
}
.header__form-input:focus-within {
  outline: none;
}

.header__form-input:not(:-moz-placeholder-shown) {
  color: #ffffff;
}

.header__form-input:not(:-ms-input-placeholder) {
  color: #ffffff;
}

.header__form-input:not(:placeholder-shown) {
  color: #ffffff;
}

.header__form-input::-moz-placeholder {
  color: #ffffff;
}

.header__form-input:-ms-input-placeholder {
  color: #ffffff;
}

.header__form-input::placeholder {
  color: #ffffff;
}

.header__form-icon {
  display: inline-flex;
}

.header__error {
  opacity: 0;
  visibility: hidden;
}

.header__error-visible {
  margin-top: 16px;
  color: #ff001b;
  opacity: 100%;
  visibility: visible;
}

.header__list-link--accent::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translate(-50%, 0%);
  background-color: #ff001b;
  width: 100%;
  height: 3px;
}

.header__logo-text {
  display: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    align-items: center;
  }
  .header__logo-text {
    display: inline-block;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: #ffffff;
    margin-left: 10px;
  }
}
.header__search {
  position: absolute;
  display: inline-flex;
  background: none;
  border: none;
  stroke: #ffffff;
  fill: none;
  top: 50%;
  left: 102%;
  transform: translate(-100%, -50%);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-autorization {
  fill: white;
  stroke: white;
  transition: stroke fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Ховери*/
.header__logo:hover .header__icon {
  stroke: rgb(220, 71, 11);
}

.header__logo:hover .header__logo-text {
  color: rgb(220, 71, 11);
}

.header__list-link:hover {
  color: rgb(220, 71, 11);
}

.icon-autorization:hover {
  fill: rgb(220, 71, 11);
  stroke: rgb(220, 71, 11);
}

.header__form-input:hover {
  border-bottom-color: rgb(220, 71, 11);
}

.header__form-input:hover.header__form-input::-moz-placeholder {
  color: rgb(220, 71, 11);
}

.header__form-input:hover.header__form-input:-ms-input-placeholder {
  color: rgb(220, 71, 11);
}

.header__form-input:hover.header__form-input::placeholder {
  color: rgb(220, 71, 11);
}

.header__form-input:hover ~ .header__search {
  stroke: rgb(220, 71, 11);
}

main {
  flex-grow: 1;
}

.films-section {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .films-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.film-list {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .film-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .film-list {
    gap: 15px;
  }
}

.not-film-card {
  width: 280px;
  height: 158px;
  padding: 15px 85px 110px;
  display: block;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  background-image: url("../images/mobile/cinema-mobile.jpg");
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .not-film-card {
    width: 704px;
    height: 396px;
    padding: 38px 214px 275px;
    font-size: 30px;
    background-image: url("../images/tablet/cinema-tablet.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .not-film-card {
    width: 1216px;
    height: 684px;
    padding: 65px 366px 476px;
    font-size: 52px;
    background-image: url("../images/desktop/cinema-desktop.jpg");
  }
}

.film-card {
  margin-bottom: 20px;
  width: 280px;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .film-card {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .film-card {
    width: 395px;
  }
}
.film-card:hover {
  transform: scale(1.05);
}

.film-card__img {
  height: 398px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .film-card__img {
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__img {
    height: 574px;
  }
}

.film-card__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (min-width: 1280px) {
  .film-card__title {
    font-size: 20px;
    line-height: 1.2;
  }
}

.film-card__genres {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ff6b08;
}
@media screen and (min-width: 1280px) {
  .film-card__genres {
    font-size: 20px;
    line-height: 1.2;
  }
}

.film-card__release-date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ff6b08;
}
@media screen and (min-width: 1280px) {
  .film-card__release-date {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__vote_average {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
  background: #ff6b08;
  border-radius: 5px;
  padding: 2px;
}

.film-card__wrapper {
  display: block;
  flex-grow: 1;
  padding-top: 8px;
}

.film-card__discription {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  color: #ff6b08;
}

.pagination_box {
  display: flex;
  justify-content: center;
}

.pagination_button {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: 0;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.pagination_button:hover {
  background-color: #d7d7d7;
}
.pagination_button-active {
  background-color: #ff6b01;
  cursor: default;
  color: #fff;
}
.pagination_button-active:hover {
  background-color: #ff6b01;
}
.pagination_button-arrow_left {
  background-color: #f7f7f7;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6667 8H3.33334' stroke='black' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.00001 12.6667L3.33334 8.00004L8.00001 3.33337' stroke='black' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.pagination_button-arrow_left:hover {
  background-color: #d7d7d7;
}
.pagination_button-arrow_right {
  background-color: #f7f7f7;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33335 8H12.6667' stroke='black' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.00002 12.6667L12.6667 8.00004L8.00002 3.33337' stroke='black' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.pagination_button-arrow_right:hover {
  background-color: #d7d7d7;
}
.pagination_button-dots {
  cursor: default;
}
.pagination_button-dots:hover {
  background-color: inherit;
}

.footer {
  background-color: #f7f7f7;
}
.footer__icon {
  stroke: #ff6b08;
  fill: #ff6b08;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer__btn {
  display: inline-block;
  border: none;
  background: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.wraper {
  text-align: center;
  padding-top: 29px;
  padding-bottom: 28px;
  color: #545454;
  font-family: "Roboto";
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .wraper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
  }
}

.copyrights {
  margin-bottom: 10px;
}

#up-btn {
  position: fixed;
  top: 65%;
  right: 20px;
  color: #545454;
  background-color: transparent;
  opacity: 1;
  transition: all 0.4s;
  border-width: 0px;
  border-radius: 50%;
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: transform 0.2s;
  padding: 0px;
  cursor: pointer;
}

#up-btn:hover {
  transform: scale(1.5);
  color: #ff6b08;
}

.up-btn-images {
  height: 100%;
  width: 100%;
}

.backdrop-about-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-shown {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.about-modal {
  padding-bottom: 10px;
  overflow: hidden;
  position: absolute;
  width: 260px;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
@media screen and (min-width: 768px) {
  .about-modal {
    max-width: initial;
    width: 740px;
  }
}
@media screen and (min-width: 1280px) {
  .about-modal {
    width: 1220px;
  }
}

.about-modal__title {
  text-align: center;
  font-size: 30px;
  line-height: 1.17;
  padding-top: 15px;
}

.about-modal__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  fill: #000000;
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-modal__btn:hover, .about-modal__btn:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-modal__btn-icon {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  stroke: #222;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-modal__btn-icon:hover, .about-modal__btn-icon:focus {
  stroke: #ff6b08;
}

.about-modal__list {
  box-sizing: border-box;
  padding-bottom: 10px;
}

.about-modal__item {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  height: auto;
  overflow: hidden;
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 30px;
  background-color: #f7f7f7;
}

.about-modal__img {
  height: 250px;
  overflow: hidden;
}

.about-modal__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-modal__text {
  padding: 7px;
  text-align: center;
}

.about-modal__text--name {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
}

.about-modal__text--position {
  color: #ff6b08;
  font-size: 12px;
  margin-bottom: 5px;
}

.footer__btn {
  text-decoration: underline;
  color: #545454;
  border: none;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__btn:hover, .footer__btn:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(220, 71, 11);
}

.swiper-wrapper {
  height: 350px;
}

.swiper-pagination {
  position: relative;
  margin: 0 auto;
}

.swiper-wrapper-overflow {
  padding-left: 10px;
  padding-right: 10px;
}

.backdrop__modal-card {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  padding: 20px 20px 38px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .backdrop__modal-card {
    padding: 53px;
    overflow-y: visible;
  }
}
@media screen and (min-width: 1280px) {
  .backdrop__modal-card {
    padding: 150px 237px 60px;
  }
}

body.show-modal-card .backdrop__modal-card {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal-card {
  margin: 45px auto 38px;
  height: auto;
  width: auto;
  background-color: #ffffff;
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
@media screen and (min-width: 320px) {
  .modal-card {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .modal-card {
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    min-width: 704px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 36px;
    padding-right: 72px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-card {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media screen and (min-width: 768px) {
  .modal-card__thumb-left, .modal-card__thumb-right {
    flex-basis: calc(50% - 16px);
  }
}
@media screen and (min-width: 768px) {
  .modal-card__thumb-left {
    margin-right: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-card__thumb-left {
    margin-right: 16px;
  }
}
.modal-card__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .modal-card__img {
    width: 240px;
    height: 357px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .modal-card__img {
    width: 264px;
    height: 374px;
    border-radius: none;
    margin-bottom: none;
  }
}
@media screen and (min-width: 1280px) {
  .modal-card__img {
    width: auto;
    height: 478px;
  }
}

.thumb-right__title {
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.15;
}
@media screen and (min-width: 1280px) {
  .thumb-right__title {
    font-size: 30px;
    line-height: 1.17;
  }
}
.thumb-right__row {
  display: flex;
  margin-bottom: 8px;
}
.thumb-right__text {
  flex: 0 0 34%;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  min-width: 70px;
  color: #8c8c8c;
}
.thumb-right__text--accent {
  text-transform: uppercase;
}
.thumb-right__details {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  margin-left: 40px;
}
.thumb-right__details--vote-accent {
  display: inline-block;
  text-align: center;
  background-color: #ff6b08;
  min-width: 36px;
  border-radius: 5px;
  color: white;
}
.thumb-right__details--votes-accent {
  display: inline-block;
  text-align: center;
  background-color: #f7f7f7;
  min-width: 36px;
  border-radius: 5px;
}
.thumb-right__about {
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 8px;
}
.thumb-right__overview {
  max-width: 240px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .thumb-right__overview {
    max-width: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .thumb-right__overview {
    max-width: 391px;
  }
}

.modal-card__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card-btn-close {
  stroke: #000000;
}

.modal-card__close-btn:hover .card-btn-close,
.modal-card__close-btn:focus .card-btn-close {
  stroke: #ff6b01;
}

.modal-card__flex-btn-wrap {
  display: flex;
}

.modal-card__watched-btn,
.modal-card__queue-btn {
  border: 1px solid #000000;
  border-radius: 5px;
  background: none;
  color: #000000;
  width: 110px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .modal-card__watched-btn,
.modal-card__queue-btn {
    width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-card__watched-btn,
.modal-card__queue-btn {
    width: 136px;
  }
}

.modal-card__watched-btn {
  padding: 6px 27px;
}
@media screen and (min-width: 768px) {
  .modal-card__watched-btn {
    padding: 6px 9px;
  }
}

.modal-card__queue-btn {
  padding: 6px 11px;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .modal-card__queue-btn {
    margin-left: 15px;
  }
}

.button--accent {
  background-color: #ff6b01;
  border-color: #ff6b01;
  color: #ffffff;
}

.modal-card__watched-btn:hover,
.modal-card__queue-btn:hover {
  background-color: rgb(220, 71, 11);
  border-color: rgb(220, 71, 11);
  color: #ffffff;
}

section.swiper-section {
  display: none;
}
@media (min-width: 768px) {
  section.swiper-section {
    display: block;
  }
}

.swiper-title {
  text-align: center;
  margin-bottom: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: underline;
  text-transform: uppercase;
}

.swiper {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1280px) {
  .swiper {
    height: 350px;
  }
}

.swiper-slide {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 200ms ease-in-out;
}
@media screen and (min-width: 1280px) {
  .swiper-slide {
    box-shadow: 21px 17px 20px -9px rgba(0, 0, 0, 0.1);
  }
  .swiper-slide:hover, .swiper-slide:focus {
    transform: scale(1.03);
    cursor: pointer;
  }
}

.content-wrap {
  position: relative;
}

.slide-thumb {
  height: 50px;
  padding: 10px 3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  background-color: rgb(245, 244, 244);
}

.card__vote {
  position: absolute;
  top: 10;
  right: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6b08;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  font-size: 13px;
  color: white;
}

.film-title {
  font-size: 13px;
}

.swiper-pagination-bullet {
  background: rgb(231, 125, 3);
  opacity: 0.9;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: rgb(16, 100, 226);
}

.swiper-pagination {
  position: static;
  padding: 10px;
}

@media screen and (min-width: 1280px) {
  .swiper-trend {
    height: 315px;
  }
}

/* Loader */
.loader {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.25s;
  transition-delay: 0.3s;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 100pt;
  content: "🏈";
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}

.loader.is-active {
  top: 0;
  left: 0;
  opacity: 1;
  display: flex;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Loader заиемнення + неактивні кнопки*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.backdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.innerSide {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.innerSide .innerSide-text {
  font-size: 24px;
  font-weight: bold;
}
.innerSide #user_email {
  margin: 20px 0;
}
@media screen and (max-width: 767px) {
  .innerSide #user_email {
    text-align: center;
    overflow-wrap: anywhere;
    padding: 0px 10px;
  }
}

.auth {
  background-color: transparent;
}
.auth .card-btn-close {
  stroke: #fff;
}
.auth h1 {
  font-weight: bold;
  margin: 0;
}
.auth h2 {
  text-align: center;
}
.auth p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
.auth span {
  font-size: 12px;
}
.auth a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.auth .button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.auth .button:active {
  transform: scale(0.95);
}
.auth .button:focus {
  outline: none;
}
@media screen and (max-width: 767px) {
  .auth .button.ghost {
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 768px) {
  .auth .button.ghost {
    background-color: transparent;
    border-color: #ffffff;
  }
}
.auth form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
.auth input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.auth .auth-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth .form-container {
  width: 50%;
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
@media screen and (max-width: 767px) {
  .auth .form-container {
    width: 100%;
  }
}
.auth .sign-in-container {
  left: 0;
  z-index: 2;
}
.auth .auth-container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}
.auth .sign-up-container {
  left: 0;
  opacity: 0;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .auth .sign-up-container {
    transform: translateX(-100%);
  }
}
.auth .auth-container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}
@media screen and (max-width: 767px) {
  .auth .auth-container.right-panel-active .sign-up-container {
    transform: translateX(0%);
  }
}
@-webkit-keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
.auth .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.auth .auth-container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.auth .overlay {
  background: #ff416c;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
@media screen and (max-width: 767px) {
  .auth .overlay {
    background: transparent;
  }
  .auth .overlay h1,
.auth .overlay p {
    display: none;
  }
}
.auth .auth-container.right-panel-active .overlay {
  transform: translateX(50%);
}
.auth .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
@media screen and (max-width: 767px) {
  .auth .overlay-panel {
    justify-content: flex-end;
  }
}
.auth .overlay-left {
  transform: translateX(-20%);
}
.auth .auth-container.right-panel-active .overlay-left {
  transform: translateX(0);
}
.auth .overlay-right {
  right: 0;
  transform: translateX(0);
}
.auth .auth-container.right-panel-active .overlay-right {
  transform: translateX(20%);
}
.auth .social-container {
  margin: 20px 0;
}
.auth .social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.auth footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}
.auth footer p {
  margin: 10px 0;
}
.auth footer i {
  color: red;
}
.auth footer a {
  color: #3c97bf;
  text-decoration: none;
}

#icon-autorization-checked {
  position: absolute;
  fill: #ff001b;
  stroke: #ff001b;
  margin-top: -9px;
  margin-left: 13px;
}/*# sourceMappingURL=index.css.map */