@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
/*Скидання дефолтних стилів*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
input {
  margin: 0;
  padding: 0;
}

button, a, input[type=submit] {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

/*Контейнер*/
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
/* Стиль кнопки (перемикача)*/
.change_theme {
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.change_theme[data-theme=onLight] {
  display: none;
}

.change_theme[data-theme=onDark] {
  display: block;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 0;
}

.header {
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.56);
  background-image: url(/src/images/mobile/main-background-mobile.png);
  background-size: cover;
  /* opacity: 0.9; */
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/mobile/main-background-mobile@2x.png);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .header {
    background-image: url(/src/images/mobile/main-background-mobile@3x.png);
  }
}
/*Tablet фон*/
@media screen and (min-width: 768px) {
  .header {
    min-height: 216px;
    background-image: url(/src/images/tablet/main-background-tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/tablet/main-background-tablet@2x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .header {
    background-image: url(/src/images/tablet/main-background-tablet@3x.png);
  }
}
/*Desctop фон*/
@media screen and (min-width: 1280px) {
  .header {
    background-image: url(/src/images/desktop/main-background-desktop.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(/src/images/desktop/main-background-desktop@2x.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .header {
    background-image: url(/src/images/desktop/main-background-desktop@3x.png);
  }
}
.header__section {
  padding-top: 40px;
  padding-bottom: 44px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__logo:hover, .header__logo:focus {
  transform: scale(1.15);
  text-shadow: 0px 8px 9px white;
}

.header__icon_logo {
  animation: animate360 3000ms cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
  stroke-width: 3px;
  stroke: white;
  fill: transparent;
}

@keyframes animate360 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  font-style: 500;
  font-size: 12px;
  line-height: 1;
}

.header__list {
  color: #ffffff;
}

.header__list-item {
  position: relative;
  margin-right: 40px;
}

.header__list-item:last-child {
  margin-right: 0px;
}

.header__list-link {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__form {
  margin-top: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__form-search {
  position: relative;
  width: 280px;
}

.header__form-input {
  font-size: 14px;
  max-width: 280px;
  width: 100%;
  height: 20px;
  background: none;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  caret-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__form-input {
    max-width: 336px;
  }
  .header__form-search {
    width: 336px;
  }
  .header__form {
    margin-top: 40px;
  }
  .header__error {
    font-size: 14px;
    line-height: 1.14;
    margin-top: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .header__form-input {
    max-width: 394px;
  }
  .header__form-search {
    width: 394px;
  }
}
.header__form-input:focus-within {
  outline: none;
}

.header__form-input:not(:placeholder-shown) {
  color: #ffffff;
}

.header__form-input::placeholder {
  color: #ffffff;
}

.header__form-icon {
  display: inline-flex;
}

.header__error {
  opacity: 0;
  visibility: hidden;
}

.header__error-visible {
  margin-top: 16px;
  color: #ff001b;
  opacity: 100%;
  visibility: visible;
}

.header__list-link--accent::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translate(-50%, 0%);
  background-color: #ff001b;
  width: 100%;
  height: 3px;
}

.header__logo-text {
  display: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    align-items: center;
  }
  .header__logo-text {
    display: inline-block;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: #ffffff;
    margin-left: 10px;
  }
}
.header__search {
  position: absolute;
  display: inline-flex;
  background: none;
  border: none;
  stroke: #ffffff;
  fill: none;
  top: 50%;
  left: 102%;
  transform: translate(-100%, -50%);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-autorization {
  fill: white;
  stroke: white;
  transition: stroke fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Ховери та фокуси*/
.header__logo:hover .header__logo-text,
.header__logo:hover .header__icon_logo,
.header__logo:focus .header__logo-text,
.header__logo:focus .header__icon_logo {
  color: rgb(220, 71, 11);
  stroke: rgb(220, 71, 11);
}

.header__list-link:hover,
.header__list-link:focus {
  color: rgb(220, 71, 11);
}

.icon-autorization:hover,
.icon-autorization:focus {
  fill: rgb(220, 71, 11);
  stroke: rgb(220, 71, 11);
}

.header__form-input:hover {
  border-bottom-color: rgb(220, 71, 11);
}

.header__form-input:hover.header__form-input::placeholder {
  color: rgb(220, 71, 11);
}

.header__form-input:hover ~ .header__search {
  stroke: rgb(220, 71, 11);
}

.filter_form {
  top: 105px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  .filter_form {
    display: block;
  }
}

.filter_form__select {
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: inherit;
  padding: 1px;
}
@media screen and (min-width: 320px) {
  .filter_form__select:last-child {
    margin-top: 10px;
  }
}

.filter_form__select > option {
  background-color: #272e34;
}

.filter_form__select:not(:last-child) {
  margin-right: 3px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .filter_form__select:not(:last-child) {
    margin-bottom: 0px;
  }
}

.btnResetFilter {
  margin: 0 auto;
  width: 45px;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: inherit;
  cursor: pointer;
  text-align: center;
}

.lib-header {
  min-height: 230px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.56);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/mobile/library-background-mobile.jpg);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/mobile/library-background-mobile@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/mobile/library-background-mobile@3x.jpg);
  }
}
.header__section {
  padding-top: 40px;
  padding-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .header {
    min-height: auto;
  }
  .header__section {
    padding-bottom: 60px;
  }
}
/*Tablet фон*/
@media screen and (min-width: 768px) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/tablet/library-background-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/tablet/library-background-tablet@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/tablet/library-background-tablet@3x.jpg);
  }
}
/*Desctop фон*/
@media screen and (min-width: 1280px) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/desktop/library-background-desktop.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/desktop/library-background-desktop@2x.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/desktop/library-background-desktop@3x.jpg);
  }
}
.header__logo-text {
  display: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    align-items: center;
  }
  .header__logo-text {
    display: inline-block;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: #ffffff;
    margin-left: 10px;
  }
}
.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  font-style: 500;
  font-size: 12px;
  line-height: 1;
}

.header__list {
  color: #ffffff;
}

.header__list-item {
  position: relative;
  margin-right: 40px;
}

.header__list-item:last-child {
  margin-right: 0px;
}

.header__list-link {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-autorization {
  fill: white;
  stroke: white;
  transition: stroke fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__list-link--accent::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translate(-50%, 0%);
  background-color: #ff001b;
  width: 100%;
  height: 3px;
}

/*Стилізація кнопок */
.library__btns {
  margin-top: 62px;
  margin-right: -20px;
  display: flex;
  justify-content: center;
}

.library__button {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.33;
  font-weight: 500;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;
  width: 130px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: none;
  margin-right: 20px;
  transition: background-color border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--accent {
  background-color: #ff6b01;
  border-color: #ff6b01;
}

@media screen and (min-width: 768px) {
  .library__btns {
    margin-top: 40px;
    margin-right: -32px;
  }
  .library__button {
    width: 152px;
    height: 44px;
    padding: 13px, 46px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .library__btns {
    margin-right: -16px;
  }
  .library__button {
    width: 148px;
    height: 42px;
    margin-right: 16px;
    padding: 12px 41px;
  }
}
/*Ховери та фокуси*/
.header__list-link:hover, .header__list-link:focus {
  color: rgb(220, 71, 11);
}

.library__button:hover, .library__button:focus {
  background-color: rgb(220, 71, 11);
  border-color: rgb(220, 71, 11);
}

.icon-autorization:hover, .icon-autorization:focus {
  fill: rgb(220, 71, 11);
  stroke: rgb(220, 71, 11);
}

main {
  flex-grow: 1;
}

.films-section {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .films-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.film-list {
  display: grid;
  margin-bottom: 40px;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .film-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    grid-row-gap: 32px;
    grid-column-gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .film-list {
    grid-row-gap: 32px;
    grid-column-gap: 15px;
  }
}

.footer {
  background-color: #f7f7f7;
}
.footer__icon {
  stroke: #ff6b08;
  fill: #ff6b08;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer__btn {
  display: inline-block;
  border: none;
  background: transparent;
  text-decoration: underline;
  cursor: pointer;
  color: #545454;
}

.wraper {
  text-align: center;
  padding-top: 29px;
  padding-bottom: 28px;
  color: #545454;
  font-family: "Roboto";
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .wraper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
  }
}

.copyrights {
  margin-bottom: 10px;
}

.footer__icon {
  animation: heartbeat 1250ms cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.modal {
  position: absolute;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: #ffffff;
  width: 280px;
  left: 50%;
  transform: translate(-50%);
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 68px;
    padding-top: 40px;
    padding-left: 36px;
    padding-right: 72px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 806px;
    padding: 40px 12px;
    gap: 16px;
  }
}
.modal__title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.17;
}
.modal__info {
  display: flex;
  margin-bottom: 20px;
}
.modal__list-key-item {
  color: #8c8c8c;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
}
.modal__list-key-item:not(:last-child) {
  margin-bottom: 8px;
}
.modal__list-value-item {
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
}
.modal__list-value-item:not(:last-child) {
  margin-bottom: 8px;
}
.modal__list-value {
  margin-left: 39px;
}
.modal__list-vote {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #ff6b01;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
}
.modal__about {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
}
.modal__about-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  margin-bottom: 20px;
}
.modal__buttons {
  display: flex;
  gap: 15px;
}
.modal__button--watched, .modal__button--queue {
  padding-left: 8px;
  padding-right: 8px;
  width: 136px;
  height: 44px;
  background-color: #ffffff;
  border-style: none;
  outline: 1px solid black;
  border-radius: 5px;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button--watched:hover, .modal__button--watched:focus, .modal__button--queue:hover, .modal__button--queue:focus {
  background-color: #ff6b01;
  color: #ffffff;
  outline: 1px solid #ff6b01;
}
.modal__button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  fill: black;
  border-radius: 50%;
  cursor: pointer;
}
.modal__button-close-icon {
  fill: black;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .modal__content {
    width: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__content {
    width: 391px;
  }
}
@media screen and (min-width: 768px) {
  .modal__img {
    margin-bottom: 0px;
    width: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__img {
    margin-bottom: 0px;
    width: 375px;
  }
}
.modal__poster {
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
}

.modal-open {
  overflow: hidden;
}

.film-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  z-index: 0;
  opacity: 1;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .film-box {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .film-box {
    padding-left: 237px;
    padding-right: 237px;
  }
}
.film-box.visually-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}/*# sourceMappingURL=library.css.map */