@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
/*Скидання дефолтних стилів*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
input {
  margin: 0;
  padding: 0;
}

button, a, input[type=submit] {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

/*Контейнер*/
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
/* Стиль кнопки (перемикача)*/
.change_theme {
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.change_theme[data-theme=onLight] {
  display: none;
}

.change_theme[data-theme=onDark] {
  display: block;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 0;
}

.lib-header {
  min-height: 230px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.56);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/mobile/library-background-mobile.jpg);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/mobile/library-background-mobile@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/mobile/library-background-mobile@3x.jpg);
  }
}
.header__section {
  padding-top: 40px;
  padding-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .header {
    min-height: auto;
  }
  .header__section {
    padding-bottom: 60px;
  }
}
/*Tablet фон*/
@media screen and (min-width: 768px) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/tablet/library-background-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/tablet/library-background-tablet@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/tablet/library-background-tablet@3x.jpg);
  }
}
/*Desctop фон*/
@media screen and (min-width: 1280px) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/desktop/library-background-desktop.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/desktop/library-background-desktop@2x.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .lib-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/desktop/library-background-desktop@3x.jpg);
  }
}
.header__icon {
  display: block;
  stroke: #ffffff;
  fill: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__logo-text {
  display: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    align-items: center;
  }
  .header__logo-text {
    display: inline-block;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: #ffffff;
    margin-left: 10px;
  }
}
.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  font-style: 500;
  font-size: 12px;
  line-height: 1;
}

.header__list {
  color: #ffffff;
}

.header__list-item {
  position: relative;
  margin-right: 40px;
}

.header__list-item:last-child {
  margin-right: 0px;
}

.header__list-link {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-autorization {
  fill: white;
  stroke: white;
  transition: stroke fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__list-link--accent::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translate(-50%, 0%);
  background-color: #ff001b;
  width: 100%;
  height: 3px;
}

/*Стилізація кнопок */
.library__btns {
  margin-top: 62px;
  margin-right: -20px;
  display: flex;
  justify-content: center;
}

.library__button {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.33;
  font-weight: 500;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;
  width: 130px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: none;
  margin-right: 20px;
  transition: background-color border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--accent {
  background-color: #ff6b01;
  border-color: #ff6b01;
}

@media screen and (min-width: 768px) {
  .library__btns {
    margin-top: 40px;
    margin-right: -32px;
  }
  .library__button {
    width: 152px;
    height: 44px;
    padding: 13px, 46px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .library__btns {
    margin-right: -16px;
  }
  .library__button {
    width: 148px;
    height: 42px;
    margin-right: 16px;
    padding: 12px 41px;
  }
}
/*Ховери*/
.header__logo:hover .header__icon {
  stroke: rgb(220, 71, 11);
}

.header__logo:hover .header__logo-text {
  color: rgb(220, 71, 11);
}

.header__list-link:hover {
  color: rgb(220, 71, 11);
}

.library__button:hover {
  background-color: rgb(220, 71, 11);
  border-color: rgb(220, 71, 11);
}

.icon-autorization:hover {
  fill: rgb(220, 71, 11);
  stroke: rgb(220, 71, 11);
}

main {
  flex-grow: 1;
}

.films-section {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .films-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.film-list {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .film-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .film-list {
    gap: 15px;
  }
}

.footer {
  background-color: #f7f7f7;
}
.footer__icon {
  stroke: #ff6b08;
  fill: #ff6b08;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer__btn {
  display: inline-block;
  border: none;
  background: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.wraper {
  text-align: center;
  padding-top: 29px;
  padding-bottom: 28px;
  color: #545454;
  font-family: "Roboto";
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .wraper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
  }
}

.copyrights {
  margin-bottom: 10px;
}

.footer__icon {
  animation: heartbeat 1250ms cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.modal {
  padding: 40px 12px;
  background-color: #ffffff;
}
.modal__title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.17;
}
.modal__info {
  display: flex;
  margin-bottom: 20px;
}
.modal__list-key-item {
  color: #8c8c8c;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
}
.modal__list-key-item:not(:last-child) {
  margin-bottom: 8px;
}
.modal__list-value-item {
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
}
.modal__list-value-item:not(:last-child) {
  margin-bottom: 8px;
}
.modal__list-value {
  margin-left: 85px;
}
.modal__list-vote {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #ff6b01;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
}
.modal__about {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
}
.modal__about-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  margin-bottom: 20px;
}
.modal__buttons {
  display: flex;
  gap: 15px;
}
.modal__button--watched, .modal__button--queue {
  padding-left: 8px;
  padding-right: 8px;
  width: 136px;
  height: 44px;
  background-color: #ffffff;
  border-style: none;
  outline: 1px solid black;
  border-radius: 5px;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
}
.modal__button--watched:hover, .modal__button--queue:hover {
  background-color: #ff6b01;
  color: #ffffff;
  outline: 1px solid #ff6b01;
  border-color: #ff6b01;
}/*# sourceMappingURL=library.css.map */