<section class="auth-section">
    <div class="auth-box">
        <div class="auth-container container">
            <h1 class="auth-title">Login or Join Us</h1>
            <form class="auth-form">
                <input class="auth-input" type="text" id="login-email" placeholder="E-Mail" required>
                <input class="auth-input" type="password" id="login-password" name="password" placeholder="Password"
                    required>
            </form>
    
            <ul class="btn-list">
                <li class="btn-item">
                    <button type="submit" class="login-btn btn">LOGIN</button>
                </li>
                <li class="btn-item">
                    <button type="submit" class="signup-btn btn">SIGN UP</button>
                </li>
            </ul>
        </div>
    </div>
</section>