<header class="header">
    <div class="container header__section">
        <nav class="site-nav">
            <a href="./index.html" class="header__logo">
                <svg class="header__icon_logo" width="24" height="24">
                    <use href="/src/images/sprite.svg#header-logo"></use>
                </svg>
                <span class="header__logo-text">Filmoteka </span>
            </a>
            <ul class="header__list">
                <li class="header__list-item">
                    <a href="./index.html" class="header__list-link">HOME</a>
                </li>
                <li class="header__list-item">
                    <a href="./auth.html" class="header__list-link auth-btn">
                        <svg class="header__icon icon-autorization" width="24" height="24">
                            <use href="/src/images/sprite.svg#icon-autorization"></use>
                        </svg><svg style="display: none" width="11" height="11" class="header__icon"
                            id="icon-autorization-checked">
                            <use href="/src/images/sprite.svg#icon-autorization-check"></use>
                        </svg></a>
                </li>
            </ul>
        </nav>
    </div>
</header>