<div class="backdrop is-hidden" data-modal>
  <div class="modal-students">
    <button type="button" class="modal-students-close" data-modal-close>
      <svg class="button-close__icon" width="30" height="30">
        <use href="./images/students-card/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-content__title">
      Team "UnityJS"
      <svg class="title__icon" width="40" height="40">
        <use href="./images/students-card/symbol-defs.svg#icon-cogs"></use>
      </svg>
    </h2>

    <ul class="card-student__list">
      <li class="card-student__item">
        <img
          class=""
          src="./images/students-card/students_photo/Anton Samusiev.jpg"
          alt="students photo"
          width="200px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Anton Samusiev</h3>
          <p class="card-student__role">Team Leader</p>
          <p class="card-student__text">Створення API-запити на сервер та їх рендер</p>

          <ul class="social-list">
            <a
              href="https://www.facebook.com/profile.php?id=100033779014560"
              class="social-list__item"
            >
              <svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-facebook2"
                ></use>
              </svg>
            </a>
            <a href="https://github.com/Samusev-Anton" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="200px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Alevtyna Aharkova</h3>
          <p class="card-student__role">Scrum Master</p>
          <p class="card-student__text">Створення кнопки "Up" для зручності користувача</p>
          <ul class="social-list">
            <a href="https://github.com/nonbinary00" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/students_photo/Anton Zmiievskyi.jpg"
          alt="students photo"
          width="200px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Anton Zmiievskyi</h3>
          <p class="card-student__role">Developer</p>
          <p class="card-student__text">Рендер сторінки "My Library", функціонал кнопок "Watched", "Queue"</p>
          <ul class="social-list">
            <a href="" class="social-list__item">
            <a href="https://github.com/Zmiievskyi/" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/students_photo/Oleg Andreev.jpg"
          alt="students photo"
          width="200px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Oleg Andreev</h3>
          <p class="card-student__role">Developer</p>
          <p class="card-student__text">Автор назви команди, створення модального вікна для фільму</p>
          <ul class="social-list">
            <a href="https://www.facebook.com/profile.php?id=1105311904" class="social-list__item">
              <svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-facebook2"
                ></use>
              </svg>
            </a>
            <a href="https://github.com/OlegAndreiev" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="https://www.linkedin.com/in/oleg-andreev/" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-linkedin"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/students_photo/Nataliia Svystula.jpg"
          alt="students photo"
          width="200px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Nataliia Svystula</h3>
          <p class="card-student__role">Developer</p>
          <p class="card-student__text">Створення розширеної фільтрації під час пошуку фільму, розробка та підключення spinner</p>
          <ul class="social-list">
            <a href="https://github.com/Nataliia0202" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="200px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Andrii Honchar</h3>
          <p class="card-student__role">Developer</p>
          <p class="card-student__text"></p>
          <ul class="social-list">
            <a href="https://github.com/goncharas" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/students_photo/Vasylyna Shvets .jpg"
          alt="students photo"
          width="200px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Vasylyna Shvets</h3>
          <p class="card-student__role">Developer</p>
          <p class="card-student__text">Робота з localStorage, запис даних для формування бібліотеки</p>
          <ul class="social-list">
            <a href="https://www.facebook.com/weselyna" class="social-list__item">
              <svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-facebook2"
                ></use>
              </svg>
            </a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="200px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Nerodenko Maksym</h3>
          <p class="card-student__role">Developer</p>
          <p class="card-student__text"></p>
          <ul class="social-list">
            <a href="https://github.com/vsC0dex" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="200px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Serhii Yehorov</h3>
          <p class="card-student__role">Developer</p>
          <p class="card-student__text">Розробка модуля програвання трейлера фільма</p>
          <ul class="social-list">
            <a href="https://github.com/SmartCom80?tab=repositories" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="200px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Viktoriia Ostrozhynska</h3>
          <p class="card-student__role">Developer</p>
          <p class="card-student__text">Розробка модульного вікна з інформацією про учасників команди</p>
          <ul class="social-list">
            <a href="https://www.facebook.com/profile.php?id=100004181658861" class="social-list__item">
              <svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-facebook2"
                ></use>
              </svg>
            </a>
            <a href="https://github.com/ViktoriiaOstrojinskaya" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="200px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Ostrynska Kateryna</h3>
          <p class="card-student__role">Developer</p>
          <p class="card-student__text">Розробка та підключення Pagination</p>
          <ul class="social-list">
            <a href="https://github.com/Ostrynska" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="https://www.linkedin.com/in/kateryna-ostrynska-9155b0151/" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-linkedin"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="200px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Student</h3>
          <p class="card-student__role">Developer</p>
          <p class="card-student__text"></p>
          <ul class="social-list">
            <a href="" class="social-list__item">
              <svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-facebook2"
                ></use>
              </svg>
            </a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-linkedin"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
