<div class="backdrop is-hidden" data-modal>
  <div class="modal-students">
    <button type="button" class="modal-students-close" data-modal-close>
      <svg class="button-close__icon" width="30" height="30">
        <use href="./images/students-card/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-content__title">
      <svg class="title__icon" width="50" height="50">
        <use
          href="./images/students-card/team-developer.svg#icon-DevSquad_AboutPage_Hero_v2"
        ></use></svg
      >Team "UnityJS"
    </h2>

    <ul class="card-student__list">
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="150px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Student-1</h3>
          <p class="card-student__role">Developer</p>

          <ul class="social-list">
            <a href="" class="social-list__item">
              <svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-facebook2"
                ></use>
              </svg>
            </a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-linkedin"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="150px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Student-2</h3>
          <p class="card-student__role">Developer</p>
          <ul class="social-list">
            <a href="" class="social-list__item">
              <svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-facebook2"
                ></use>
              </svg>
            </a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-linkedin"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="150px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Student-3</h3>
          <p class="card-student__role">Developer</p>
          <ul class="social-list">
            <a href="" class="social-list__item">
              <svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-facebook2"
                ></use>
              </svg>
            </a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-linkedin"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="150px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Student-4</h3>
          <p class="card-student__role">Developer</p>
          <ul class="social-list">
            <a href="" class="social-list__item">
              <svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-facebook2"
                ></use>
              </svg>
            </a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-linkedin"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="150px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Student-5</h3>
          <p class="card-student__role">Developer</p>
          <ul class="social-list">
            <a href="" class="social-list__item">
              <svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-facebook2"
                ></use>
              </svg>
            </a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-linkedin"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="150px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Student-6</h3>
          <p class="card-student__role">Developer</p>
          <ul class="social-list">
            <a href="" class="social-list__item">
              <svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-facebook2"
                ></use>
              </svg>
            </a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-linkedin"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="150px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Student-7</h3>
          <p class="card-student__role">Developer</p>
          <ul class="social-list">
            <a href="" class="social-list__item">
              <svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-facebook2"
                ></use>
              </svg>
            </a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-linkedin"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="150px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Student-8</h3>
          <p class="card-student__role">Developer</p>
          <ul class="social-list">
            <a href="" class="social-list__item">
              <svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-facebook2"
                ></use>
              </svg>
            </a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-linkedin"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
      <li class="card-student__item">
        <img
          src="./images/students-card/default-avatar.jpeg"
          alt="students photo"
          width="150px"
        />
        <div class="card-student__wrap">
          <h3 class="card-student__name">Student-9</h3>
          <p class="card-student__role">Developer</p>
          <ul class="social-list">
            <a href="" class="social-list__item">
              <svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-facebook2"
                ></use>
              </svg>
            </a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-github"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-linkedin"
                ></use></svg
            ></a>
            <a href="" class="social-list__item"
              ><svg class="social-list__icon" width="20" height="20">
                <use
                  href="./images/students-card/symbol-defs.svg#icon-video-camera"
                ></use></svg
            ></a>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
