<header class="header">
  <div class="container header__section">
    <nav class="site-nav">
      <a href="./index.html" class="header__logo">
        <svg class="header__icon_logo" width="24" height="24">
          <use href="/src/images/sprite.svg#header-logo"></use>
        </svg>
        <span class="header__logo-text">Filmoteka </span>
      </a>
      <ul class="header__list">
        <li class="header__list-item">
          <a
            href="./index.html"
            class="header__list-link header__list-link--accent js-home"
            >HOME</a
          >
        </li>
        <li class="header__list-item">
          <a href="./library.html" class="header__list-link js-library">
            MY LIBRARY
          </a>
        </li>
        <li class="header__list-item">
          <a href="./auth.html" class="header__list-link auth-btn">
            <svg class="header__icon icon-autorization" width="24" height="24">
              <use href="/src/images/sprite.svg#icon-autorization"></use></svg
            ><svg
              style="display: none"
              width="11"
              height="11"
              class="header__icon"
              id="icon-autorization-checked"
            >
              <use
                href="/src/images/sprite.svg#icon-autorization-check"
              ></use></svg
          ></a>
        </li>
      </ul>
    </nav>

    <form action="submit" class="header__form">
      <div class="header__form-search">
        <input
          type="text"
          name="serch_film"
          autofocus
          placeholder="Movie search"
          class="header__form-input js-input"
        />
        <button type="submit" class="header__search">
          <svg class="header__form-icon" width="12" height="12">
            <use href="/src/images/sprite.svg#header-search"></use>
          </svg>
        </button>
      </div>
    </form>

    <p id="header__error-message" class="header__error">
      Search result not successful. Enter the correct movie name and try again.
    </p>
    <form class="filter_form" id="filter-form">
      <select class="filter_form__select" name="genreForm" id="genreForm">
        <option value="null">Genre</option>
        <option value="28">Action</option>
        <option value="12">Adventure</option>
        <option value="16">Animation</option>
        <option value="35">Comedy</option>
        <option value="80">Crime</option>
        <option value="99">Documentary</option>
        <option value="18">Drama</option>
        <option value="10751">Family</option>
        <option value="14">Fantasy</option>
        <option value="36">History</option>
        <option value="27">Horror</option>
        <option value="10402">Music</option>
        <option value="9648">Mystery</option>
        <option value="10749">Romance</option>
        <option value="878">Science Fiction</option>
        <option value="10770">TV Movie</option>
        <option value="53">Thriller</option>
        <option value="10752">War</option>
        <option value="37">Western</option>
      </select>
      <select class="filter_form__select" name="yearForm" id="yearForm">
        <option value="null">Year</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
        <option value="2013">2013</option>
        <option value="2012">2012</option>
        <option value="2011">2011</option>
        <option value="2010">2010</option>
        <option value="2009">2009</option>
        <option value="2008">2008</option>
        <option value="2007">2007</option>
        <option value="2006">2006</option>
        <option value="2005">2005</option>
      </select>
      <select class="filter_form__select" name="sortForm" id="sortForm">
        <option value="null">Sorting</option>
        <option value="vote_average.desc">Rating (decreasing)</option>
        <option value="vote_average.asc">Rating (ascending)</option>
        <option value="vote_count.desc">Views (decreasing)</option>
        <option value="vote_count.asc">Views (ascending)</option>
        <option value="popularity.desc">Popularity (decreasing)</option>
        <option value="popularity.asc">Popularity (ascending)</option>
      </select>
      <button class="btnResetFilter" id="btnSearchFilter" type="submit" >
        Search
      </button>
      <button class="btnResetFilter" id="btnResetFilter" type="submit" >
        Reset
      </button>
    </form>
  </div>
</header>
