.backdrop-about-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-shown {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.about-modal {
  padding-bottom: 10px;
  overflow: hidden;
  position: absolute;
  width: 260px;
  z-index:999;

  @media screen and (min-width: 768px) {
    
    max-width: initial;
    width: 740px;
  }

  @media screen and (min-width: 1280px) {
    width: 1220px;
  }

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $main-bgc;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.about-modal__title {
  text-align: center;
  font-size: 30px;
  line-height: 1.17;
  padding-top: 15px;
}

.about-modal__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: $white-text;
  fill: #000000;
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.about-modal__btn-icon {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  stroke: #222;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, &:focus {
    stroke: #ff6b08;
  }
}

.about-modal__list {
  box-sizing: border-box;
  padding-bottom: 10px;
}
.about-modal__item {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  height: auto;
  overflow: hidden;
  margin: 10px;
  border: 1px solid $black-text;
  border-radius: 30px;
  background-color: $footer-bgc;
  
}

.about-modal__img {
  height: 250px;
  overflow: hidden;
}

.about-modal__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-modal__text {
  padding: 7px;
  text-align: center;
}

.about-modal__text--name {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
}

.about-modal__text--position {
  color: $orange-text;
  font-size: 12px;
  margin-bottom: 5px;
}

.footer__btn {
  text-decoration: underline;
  color: $footer-text;
  border: none;
  cursor: pointer;
  
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: $orange-hover
  }
}
.swiper-wrapper {
  height: 350px;
}
.swiper-pagination {
  position: relative;
  margin: 0 auto;
}

.swiper-wrapper-overflow {
  padding-left: 10px;
  padding-right: 10px;
}