.to_main__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.to_main__text {
  cursor: pointer;
  font-size: 30px;
  line-height: calc(26 / 30);
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 21px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.05);
  }
}

.to_main__link {
  display: inline-block;
  padding-top: 10px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-left: 35px;
  margin-bottom: 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ff6b08;
  background-color: transparent;
  border: 1px solid #ff6b08;
  border-radius: 5px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: #ff6b08;
    border: 1px solid #ff6b08;
    box-shadow: 0px 8px 43px #ff6b08;
    color: $white-text;
  }
}