.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $header-bgc;
  overflow-y: scroll;
}

.backdrop.is-hidden .modal-students {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-students {
  position: absolute;
  left: 0;
  top: 0;

  width: auto;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.25);
}

.modal-content {
  position: relative;
  background-color: $main-bgc;
  margin: 15px auto;
  padding: 20px;

  width: 80%;

  border-radius: $main-border-radius;
}

.footer__btn {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $orange-hover;
  }
}

.modal-students-close {
  position: absolute;
  right: 0;
  top: 5px;

  display: flex;

  border: none;
  background-color: transparent;

  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $orange-hover;
  }
}

.modal-content__title {
  color: $footer-text;
  text-align: center;
  text-transform: uppercase;
}

.card-student__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  margin-top: 15px;

  color: $footer-text;
}
.card-student__item {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  &:hover {
    transform: scale(1.05);
  }
}
.card-student__wrap {
  padding: 10px;
}

.card-student__name {
  text-align: center;
  color: $orange-text;
  margin-bottom: 5px;
}
.card-student__role {
  color: $black-text;
  text-align: center;
  padding: 3px;

  margin-bottom: 10px;
  border: 1.5px solid $pagination-hover-btn-bgc;
  border-radius: 5px;
  height: 50px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__icon {
  fill: $pagination-hover-btn-bgc;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $orange-hover;
  }
}

.social-list__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}
