main {
  flex-grow: 1;
}

.films-section {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.film-list {
  display: grid;
  margin-bottom: 40px;
  gap: 32px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    grid-row-gap: 32px;
    grid-column-gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    grid-row-gap: 32px;
    grid-column-gap: 15px;
  }
}
