.lib-header {
  min-height: 230px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $header-bgc;
  background-image: linear-gradient($header-bgc, $header-bgc),
    url(/src/images/mobile/library-background-mobile.jpg);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .lib-header {
    background-image: linear-gradient($header-bgc, $header-bgc),
      url(/src/images/mobile/library-background-mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
  .lib-header {
    background-image: linear-gradient($header-bgc, $header-bgc),
      url(/src/images/mobile/library-background-mobile@3x.jpg);
  }
}


.header__section {
  padding-top: 40px;
  padding-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .header {
    min-height: auto;
  }
  .header__section {
    padding-bottom: 60px;
  }
}

/*Tablet фон*/
@media screen and (min-width: 768px) {
  .lib-header {
    background-image: linear-gradient($header-bgc, $header-bgc),
      url(/src/images/tablet/library-background-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .lib-header {
      background-image: linear-gradient($header-bgc, $header-bgc),
        url(/src/images/tablet/library-background-tablet@2x.jpg);
    }
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .lib-header {
      background-image: linear-gradient($header-bgc, $header-bgc),
        url(/src/images/tablet/library-background-tablet@3x.jpg);
    }
  }
}

/*Desctop фон*/
@media screen and (min-width: 1280px) {
  .lib-header {
    background-image: linear-gradient($header-bgc, $header-bgc),
      url(/src/images/desktop/library-background-desktop.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .lib-header {
      background-image: linear-gradient($header-bgc, $header-bgc),
        url(/src/images/desktop/library-background-desktop@2x.jpg);
    }
  }
  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    .lib-header {
      background-image: linear-gradient($header-bgc, $header-bgc),
        url(/src/images/desktop/library-background-desktop@3x.jpg);
    }
  }
}

.header__logo-text {
  display: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__logo {
    display: flex;
    align-items: center;
  }
  .header__logo-text {
    display: inline-block;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: $white-text;
    margin-left: 10px;
  }
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  font-style: 500;
  font-size: 12px;
  line-height: 1;
}

.header__list {
  color: $white-text;
}

.header__list-item {
  position: relative;
  margin-right: 40px;
}

.header__list-item:last-child {
  margin-right: 0px;
}
.header__list-link {
  color: $white-text;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  padding-top: 2px;
  padding-bottom: 2px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-autorization {
  fill: white;
  stroke: white;
  transition: stroke fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__list-link--accent::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translate(-50%, 0%);
  background-color: $error-text;
  width: 100%;
  height: 3px;
}

/*Стилізація кнопок */
.library__btns {
  margin-top: 62px;
  margin-right: -20px;

  display: flex;
  justify-content: center;
}

.library__button {
  display: block;
  text-align: center;
  font-size: 12px;
  color: $white-text;
  line-height: 1.33;
  font-weight: 500;

  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;

  width: 130px;
  height: 44px;
  border: 1px solid $white-text;
  border-radius: 5px;
  background: none;

  margin-right: 20px;
  transition: background-color border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--accent {
  background-color: $orange-btn;
  border-color: $orange-btn;
}

@media screen and (min-width: 768px) {
  .library__btns {
    margin-top: 40px;
    margin-right: -32px;
  }
  .library__button {
    width: 152px;
    height: 44px;
    padding: 13px, 46px;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .library__btns {
    margin-right: -16px;
  }

  .library__button {
    width: 148px;
    height: 42px;
    margin-right: 16px;
    padding: 12px 41px;
  }
}
/*Ховери та фокуси*/

.header__list-link:hover,
.header__list-link:focus {
  color: $orange-hover;
}
.library__button:hover,
.library__button:focus {
  background-color: $orange-hover;
  border-color: $orange-hover;
}

.icon-autorization:hover,
.icon-autorization:focus {
  fill: $orange-hover;
  stroke: $orange-hover;
}
