main {
  flex-grow: 1;
}

.films-section {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.film-list {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    gap: 15px;
  }
};

.not-film-card {
  width: 280px;  
  height: 158px;
  padding: 15px 85px 110px;

  display: block;

  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;

  background-image: url('../images/mobile/cinema-mobile.jpg');
  background-size: contain;

    @media screen and (min-width: 768px){    
      width: 704px;      
      height: 396px;
      padding: 38px 214px 275px;

      font-size: 30px;

      background-image: url('../images/tablet/cinema-tablet.jpg');
    };

    @media screen and (min-width: 1280px){      
      width: 1216px;      
      height: 684px;
      padding: 65px 366px 476px;

      font-size: 52px;

      background-image: url('../images/desktop/cinema-desktop.jpg');
    };
}

.film-card {
  margin-bottom: 20px;
  width: 280px;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
  }
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.05);
  }
}

.film-card__img {
  height: 398px;
  border-radius: $main-border-radius;
  @media screen and (min-width: 768px) {
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    height: 574px;
  }
}

.film-card__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: $black-text;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.film-card__genres {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: $orange-text;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.film-card__release-date {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: $orange-text;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__vote_average {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: $white-text;

  background: $orange-text;
  border-radius: 5px;

  padding: 2px;
}

.film-card__wrapper {
  display: block;
  flex-grow: 1;
  padding-top: 8px;
}

.film-card__discription {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  color: $orange-text;
}
