//styles for backdrop and modal wrap only
.backdrop__modal-card {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  padding: 20px 20px 38px;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;

  @media screen and (min-width: 768px) {
    padding: 53px;
    overflow-y: visible;
  }
  @media screen and (min-width: 1280px) {
    padding: 150px 237px 60px;
  }
}

body.show-modal-card .backdrop__modal-card {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

//styles for elements inside modal

.modal-card {
  margin: 45px auto 38px;
  height: auto;
  width: auto;
  background-color: $main-bgc;
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;

  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: $main-border-radius;

  @media screen and (min-width: 320px) {
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;

    min-width: 704px;

    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 36px;
    padding-right: 72px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 12px;
    padding-right: 12px;
  }

  &__thumb-left,
  &__thumb-right {
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 16px);
    }
  }

  &__thumb-left {
    @media screen and (min-width: 768px) {
      margin-right: 68px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 16px;
    }
  }

  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 320px) {
      width: 240px;
      height: 357px;
      border-radius: $main-border-radius;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 768px) {
      width: 264px;
      height: 374px;
      border-radius: none;
      margin-bottom: none;
    }
    @media screen and (min-width: 1280px) {
      width: auto;
      height: 478px;
    }
  }
}

.thumb-right {
  &__title {
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.15;
    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.17;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 8px;
  }

  &__text {
    flex: 0 0 34%;

    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    min-width: 70px;
    color: $modal-key-text;
  }

  &__text--accent {
    text-transform: uppercase;
  }

  &__details {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    margin-left: 40px;
  }

  &__details--vote-accent {
    display: inline-block;
    text-align: center;
    background-color: $orange-text;
    min-width: 36px;
    border-radius: 5px;
    color: white;
  }

  &__details--votes-accent {
    display: inline-block;
    text-align: center;
    background-color: $footer-bgc;
    min-width: 36px;
    border-radius: 5px;
  }

  &__about {
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 8px;
  }

  &__overview {
    max-width: 240px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: $black-text;

    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      max-width: 264px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 391px;
    }
  }
}

.modal-card__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card-btn-close {
  stroke: $black-text;
}

.modal-card__close-btn:hover .card-btn-close, 
.modal-card__close-btn:focus .card-btn-close {
    stroke: $orange-btn;
}

.modal-card__flex-btn-wrap {
  display: flex;
}

.modal-card__watched-btn,
.modal-card__queue-btn {
  border: 1px solid $black-text;
  border-radius: 5px;
  background: none;
  color: $black-text;

  width: 110px;
  height: 44px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  align-items: center;
  text-align: center;

  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }
}

.modal-card__watched-btn {
  padding: 6px 27px;
  @media screen and (min-width: 768px) {
    padding: 6px 9px;
  }
}

.modal-card__queue-btn {
  padding: 6px 11px;
  margin-left: 20px;
  @media screen and (min-width: 768px) {
    margin-left: 15px;
  }
}

.button--accent {
  background-color: $orange-btn;
  border-color: $orange-btn;
  color: $white-text;
}

.modal-card__watched-btn:hover,
.modal-card__queue-btn:hover {
  background-color: $orange-hover;
  border-color: $orange-hover;
  color: $white-text;
}
