@import './variables';
.modal {
  position: absolute;
  width: 280px;
  left: 50%;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  background-color: $main-bgc;
  transform: translate(-50%);
  z-index: 5;
  @media screen and (min-width: 768px) {
    display: flex;
    width: 704px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 40px;
    padding-left: 36px;
    padding-right: 72px;
    padding-bottom: 40px;
    gap: 68px;
  }
  @media screen and (min-width: 1280px) {
    width: 806px;
    padding: 40px 12px;
    gap: 16px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.17;
  }
  &__info {
    margin-bottom: 20px;
  }
  &__list-key {
    display: flex;
    gap: 39px;
    align-items: baseline;
  }
  &__list-key:not(:last-child) {
    margin-bottom: 8px;
  }

  &__list-key-item {
    color: $modal-key-text;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    width: 71px;
  }

  &__list-value-item {
    color: $black-text;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    width: 130px;
    @media screen and (min-width: 768px) {
      width: 155px;
    }
    @media screen and (min-width: 1280px) {
      width: 280px;
    }
  }

  &__list-vote {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: $orange-btn;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    color: $white-text;
  }
  &__about {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
  }
  &__about-text {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;
  }
  &__buttons {
    display: flex;
    gap: 15px;
  }
  &__button--watched,
  &__button--queue {
    width: 136px;
    height: 44px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: $main-bgc;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 5px;
    color: $black-text;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button--trailer {
    position: absolute;

    top: 58px;
    left: 30px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 5px;
    background-color: #ff6b01;
    color: #ffffff;

    @media screen and (min-width: 768px) {
      top: 50px;
      left: 46px;
    }
    @media screen and (min-width: 1280px) {
      top: 50px;
      left: 22px;
    }
  }

  &__button--watched:hover,
  &__button--watched:focus,
  &__button--queue:hover,
  &__button--queue:focus {
    background-color: $orange-btn;
    color: $white-text;
    border: 1px solid $orange-btn;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
  &__button-close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  // &__button-close-icon {
  //   // fill: red;
  //   // stroke: black;
  //   // z-index: 5;
  //   // stroke: $black-text;
  //   // fill: black;
  //   // display: inline-block;
  //   // width: 1em;
  //   // height: 1em;
  //   // stroke-width: 0;
  //   // stroke: currentColor;
  //   // fill: currentColor;
  // }
  &__content {
    @media screen and (min-width: 768px) {
      width: 264px;
    }
    @media screen and (min-width: 1280px) {
      width: 391px;
    }
  }
  &__img {
    @media screen and (min-width: 768px) {
      width: 264px;
      margin-bottom: 0px;
    }
    @media screen and (min-width: 1280px) {
      width: 375px;
      margin-bottom: 0px;
    }
  }
  &__poster {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(121, 121, 121);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}

.modal-open {
  overflow: hidden;
}

.film-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  z-index: 0;
  opacity: 1;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 237px;
    padding-right: 237px;
  }

  &.visually-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
