.up {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 7;
    border-radius: 50%;
    padding: 25px;
    cursor: pointer;
    border: 3px solid #FF6B07;
    transition: border-color 200ms linear, opacity 200ms linear, box-shadow 200ms linear;
    opacity: 0.5;
    visibility: visible;
    background-color: transparent;
    box-shadow: 0 0 7px 2px #FF6B07;
    &:after,
  &:before {
    position: absolute;
    background-color: #FF6B07;
    left: 50%;
    width: 5px;
    height: 22px;
    top: 11px;
    margin-left: -8px;
    transform: rotate(45deg);
    border-radius: 10px;
    transition: background-color 200ms linear;
    content: '';
  }
  &:after {
    width: 21px;
    height: 5px;
    margin-left: -4px;
    top: 19px;
  }
  &:hover {
    border-color: #FF6B07; 
    box-shadow: 0 0 15px 5px #FF6B07;
    opacity: 0.8;

    &::after,
    &:before {
      background-color: #FF6B07;
    }
  }
};

.visually-hidden-scroll{
  display: none;
}

