#up-btn {
    position: fixed;
    top: 65%;
    right: 20px;
    color: #545454;
    background-color: transparent;
    opacity: 1;
    transition: all .4s;
    border-width: 0px;
    border-radius: 50%;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: transform .2s;
    padding: 0px;
    cursor: pointer;
}
#up-btn:hover {
    transform: scale(1.5);
    color: #ff6b08
}
.up-btn-images {
    height:100%;
    width: 100%;
}

